body,
html {
  display: flex;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  flex-direction: column;
  flex: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
@media (prefers-color-scheme: dark) {
  body,
  html {
    background: #121212;
    color: #fff;
    height: 100vh;
    overflow: hidden;
  }
  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill::first-line {
    background-color: #403626 !important;
    color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px #403626 inset !important;
    -webkit-text-fill-color: #fff !important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line {
  background-color: #ffe9cc !important;
  color: #000 !important;
  -webkit-box-shadow: 0 0 0 1000px #ffe9cc inset !important;
  -webkit-text-fill-color: #000 !important;

  border-radius: 10px;
  margin: 1px;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

a:not([disabled]),
div[role='button']:not([disabled]) {
  color: inherit;
  text-decoration: none;
}
a:not([disabled]):hover,
a:not([disabled]):focus,
div[role='button']:not([disabled]):hover,
div[role='button']:not([disabled]):focus {
  color: inherit;
  /*text-decoration: underline;*/
  /*text-decoration-color: currentColor;*/
}
a * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
/*input:-webkit-autofill {*/
/*  -webkit-background-clip: text;*/
/*  color: inherit!important;*/
/*}*/

.html a {
  text-decoration: underline;
  color: blue;
}

body > iframe {
  max-height: 300px;
  border-left: 20px solid red !important;
  border-radius: 20px;
  transition: all 300ms;
  transform: translateY(calc(100vh - 40px));
  opacity: 0.6 !important;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  left: auto !important;
  overflow-y: auto;
}
body > iframe:hover {
  transform: translateY(calc(100vh - 300px));
  opacity: 1 !important;
}
